# Flutter
ai_frontend/build/
ai_frontend/.dart_tool/
ai_frontend/.idea/
ai_frontend/.vscode/

# Python FastAPI
ai_backend/__pycache__/
ai_backend/.venv/
ai_backend/.env/
ai_backend/.idea/
ai_backend/.vscode/

# General
*.log
*.env
